@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));



:root {
  --background: oklch(0.9843 0.0157 102.2121);
  --foreground: oklch(0.2000 0.0200 180.0000);
  --card: oklch(0.9843 0.0157 102.2121);
  --card-foreground: oklch(0.2000 0.0200 180.0000);
  --popover: oklch(0.9843 0.0157 102.2121);
  --popover-foreground: oklch(0.2000 0.0200 180.0000);
  --primary: oklch(0.4500 0.0900 192.1770);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5400 0.0100 264.0520);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9500 0.0100 102.2121);
  --muted-foreground: oklch(0.5400 0.0100 264.0520);
  --accent: oklch(0.7700 0.0500 192.1770);
  --accent-foreground: oklch(0.2000 0.0200 180.0000);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9200 0.0100 102.2121);
  --input: oklch(0.9200 0.0100 102.2121);
  --ring: oklch(0.4500 0.0900 192.1770);
  --chart-1: oklch(0.4500 0.0900 192.1770);
  --chart-2: oklch(0.7700 0.0500 192.1770);
  --chart-3: oklch(0.5400 0.0100 264.0520);
  --chart-4: oklch(0.6000 0.0700 192.1770);
  --chart-5: oklch(0.6500 0.0600 192.1770);
  --sidebar: oklch(0.9843 0.0157 102.2121);
  --sidebar-foreground: oklch(0.2000 0.0200 180.0000);
  --sidebar-primary: oklch(0.4500 0.0900 192.1770);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7700 0.0500 192.1770);
  --sidebar-accent-foreground: oklch(0.2000 0.0200 180.0000);
  --sidebar-border: oklch(0.9200 0.0100 102.2121);
  --sidebar-ring: oklch(0.4500 0.0900 192.1770);
  --font-sans: "Helvetica Neue", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(222.2, 84%, 4.9%);
  --shadow-2xs: 0rem 0.25rem 1rem 0rem hsl(222.2000 84% 4.9000% / 0.05);
  --shadow-xs: 0rem 0.25rem 1rem 0rem hsl(222.2000 84% 4.9000% / 0.05);
  --shadow-sm: 0rem 0.25rem 1rem 0rem hsl(222.2000 84% 4.9000% / 0.10), 0rem 1px 2px -1px hsl(222.2000 84% 4.9000% / 0.10);
  --shadow: 0rem 0.25rem 1rem 0rem hsl(222.2000 84% 4.9000% / 0.10), 0rem 1px 2px -1px hsl(222.2000 84% 4.9000% / 0.10);
  --shadow-md: 0rem 0.25rem 1rem 0rem hsl(222.2000 84% 4.9000% / 0.10), 0rem 2px 4px -1px hsl(222.2000 84% 4.9000% / 0.10);
  --shadow-lg: 0rem 0.25rem 1rem 0rem hsl(222.2000 84% 4.9000% / 0.10), 0rem 4px 6px -1px hsl(222.2000 84% 4.9000% / 0.10);
  --shadow-xl: 0rem 0.25rem 1rem 0rem hsl(222.2000 84% 4.9000% / 0.10), 0rem 8px 10px -1px hsl(222.2000 84% 4.9000% / 0.10);
  --shadow-2xl: 0rem 0.25rem 1rem 0rem hsl(222.2000 84% 4.9000% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1500 0.0100 180.0000);
  --foreground: oklch(0.9843 0.0157 102.2121);
  --card: oklch(0.1500 0.0100 180.0000);
  --card-foreground: oklch(0.9843 0.0157 102.2121);
  --popover: oklch(0.1500 0.0100 180.0000);
  --popover-foreground: oklch(0.9843 0.0157 102.2121);
  --primary: oklch(0.4500 0.0900 192.1770);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5400 0.0100 264.0520);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2500 0.0100 180.0000);
  --muted-foreground: oklch(0.7000 0.0100 180.0000);
  --accent: oklch(0.7700 0.0500 192.1770);
  --accent-foreground: oklch(0.1500 0.0100 180.0000);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2500 0.0100 180.0000);
  --input: oklch(0.2500 0.0100 180.0000);
  --ring: oklch(0.4500 0.0900 192.1770);
  --chart-1: oklch(0.4500 0.0900 192.1770);
  --chart-2: oklch(0.7700 0.0500 192.1770);
  --chart-3: oklch(0.5400 0.0100 264.0520);
  --chart-4: oklch(0.6000 0.0700 192.1770);
  --chart-5: oklch(0.6500 0.0600 192.1770);
  --sidebar: oklch(0.1500 0.0100 180.0000);
  --sidebar-foreground: oklch(0.9843 0.0157 102.2121);
  --sidebar-primary: oklch(0.4500 0.0900 192.1770);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7700 0.0500 192.1770);
  --sidebar-accent-foreground: oklch(0.9843 0.0157 102.2121);
  --sidebar-border: oklch(0.2500 0.0100 180.0000);
  --sidebar-ring: oklch(0.4500 0.0900 192.1770);
  --font-sans: "Helvetica Neue", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.25;
  --shadow-color: hsl(222.2, 84%, 4.9%);
  --shadow-2xs: 0rem 0.5rem 1.5rem 0rem hsl(222.2000 84% 4.9000% / 0.13);
  --shadow-xs: 0rem 0.5rem 1.5rem 0rem hsl(222.2000 84% 4.9000% / 0.13);
  --shadow-sm: 0rem 0.5rem 1.5rem 0rem hsl(222.2000 84% 4.9000% / 0.25), 0rem 1px 2px -1px hsl(222.2000 84% 4.9000% / 0.25);
  --shadow: 0rem 0.5rem 1.5rem 0rem hsl(222.2000 84% 4.9000% / 0.25), 0rem 1px 2px -1px hsl(222.2000 84% 4.9000% / 0.25);
  --shadow-md: 0rem 0.5rem 1.5rem 0rem hsl(222.2000 84% 4.9000% / 0.25), 0rem 2px 4px -1px hsl(222.2000 84% 4.9000% / 0.25);
  --shadow-lg: 0rem 0.5rem 1.5rem 0rem hsl(222.2000 84% 4.9000% / 0.25), 0rem 4px 6px -1px hsl(222.2000 84% 4.9000% / 0.25);
  --shadow-xl: 0rem 0.5rem 1.5rem 0rem hsl(222.2000 84% 4.9000% / 0.25), 0rem 8px 10px -1px hsl(222.2000 84% 4.9000% / 0.25);
  --shadow-2xl: 0rem 0.5rem 1.5rem 0rem hsl(222.2000 84% 4.9000% / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
