---
import '@/styles/globals.css';
import { ClientRouter } from 'astro:transitions';
import Navbar from '@/components/Navbar';

interface Props {
  title: string;
  description?: string;
}

const { title, description = 'A simple blog' } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <title>{title}</title>
    <ClientRouter />
    <script is:inline>
      const getThemePreference = () => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme');
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light';
      };

      const setDarkClass = () => {
        const isDark = getThemePreference() === 'dark';
        document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
      };

      setDarkClass();

      if (!window.themeListenerAdded) {
        document.addEventListener('astro:after-swap', setDarkClass);
        window.themeListenerAdded = true;
      }
    </script>
  </head>
  <body class='min-h-screen bg-background font-sans antialiased'>
    <Navbar client:load />
    <slot />
  </body>
</html>
